name: Build and Publish Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build via docker compose
        run: docker compose --env-file .env build

      - name: Tag and Push image
        run: |
          # Тег для GHCR
          IMAGE_NAME=ghcr.io/${GITHUB_ACTOR}/vlm_captioning:latest
          
          # Получаем ID образа, который собрал docker compose
          IMAGE_ID=$(docker compose images -q vlm_captioning)
          
          # Тегируем образ
          docker tag $IMAGE_ID $IMAGE_NAME
          
          # Пушим образ в GHCR
          docker push $IMAGE_NAME
